In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

df

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22,1.0,Post,A,D,54.83,D,C,B,C,...,C,A,C,A,C,A,B,A,B,A
3,50,1.0,Pre,A,F,12.41,A,NaN,A,NaN,...,NaN,A,B,A,NaN,C,NaN,NaN,NaN,NaN
4,82,1.0,Pre,A,B+,84.94,C,C,A,C,...,D,NaN,B,A,D,C,A,E,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,37,2.0,Post,B,A,97.72,A,D,D,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN
145,42,2.0,Post,B,B+,87.81,D,NaN,A,NaN,...,NaN,E,C,NaN,B,C,A,NaN,NaN,A
146,42,2.0,Pre,B,B+,87.81,C,C,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,79,2.0,Pre,B,B+,86.68,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,79,2.0,Post,B,B+,86.68,B,E,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Things I need to do with this data:
#   1. Determine whether or not there is a relationship between the students' score on the test and the students'
#     final course grade. (Compare final score to pre-test score for this?)
#   2. Determine whether or not there is an increase in performance between pre and post tests, both for individual
#     students and the class as a whole. (Maybe start with whole and then figure out indiviudal?)
#   3. Determine whether or not there is difference in grade between instructors and a difference in grade between
#     terms.

# Write statistical analysis about results at the end. (Maybe write analysis between code? Figure out later.)

# How to accomplish these things:
#   ~ Graphs probably

# Link to assignment page: https://github.com/sgb7/2020-spring-cs232/tree/master/assignments/3%20-%20data%20analysis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Participant Code  148 non-null    object
 1   Term              147 non-null    float64
 2   Test              147 non-null    object
 3   Instructor        147 non-null    object
 4   LetterGrade       147 non-null    object
 5   PercentGrade      147 non-null    float64
 6   Q1                115 non-null    object
 7   Q2                98 non-null     object
 8   Q3                112 non-null    object
 9   Q4                91 non-null     object
 10  Q5                123 non-null    object
 11  Q6                108 non-null    object
 12  Q7                80 non-null     object
 13  Q8                113 non-null    object
 14  Q9                87 non-null     object
 15  Q10               100 non-null    object
 16  Q11               98 non-null     object
 17  Q12               90 non-null     object
 18  Q13               83 non-null     object
 19  Q14               83 non-null     object
 20  Q15               72 non-null     object
 21  Q16               86 non-null     object
 22  Q17               74 non-null     object
 23  Q18               74 non-null     object
 24  Q19               78 non-null     object
 25  Q20               84 non-null     object
 26  Q21               79 non-null     object
 27  Q22               70 non-null     object
 28  Q23               85 non-null     object
 29  Q24               64 non-null     object
 30  Q25               79 non-null     object
 31  Q26               67 non-null     object
 32  Q27               74 non-null     object
dtypes: float64(2), object(31)
memory usage: 38.5+ KB

In [5]:
df.shape

(149, 33)

In [6]:
df = df.drop_duplicates()

df.shape

(149, 33)

In [7]:
# Wait, are the letter and percent grades I'm given the grades for the test or the grades for the whole course? Am
# I ever actually given both the course grade and the test grade plainly? I think the grades I'm given are the
# course grades, but I'll have to double check. So does that mean I have to calculate the test grade with the 
# answers and key I'm given?

# Okay yeah, I'm pretty sure now that the grade/percentage I'm given is the course grade. If I want to compare it
# to the test grade I need to process the answers somehow.

# Also, should I take both the letter grade and the percentage grade into account, since letter grades can be given
# more flexiably by teachers? Just the letter grade could probably be easier. We'll see how it goes.

In [8]:
# How to go about discarding incomplete data? Is there away to select specific cells, rather than whole rows or
# columns? Research. Either way, I think that's where I want to start with each analysis.

# Okay, so I think I need to go through and compare each student's test answers to the key, see how many answers
# match with the key, put that number over 27 and calculate percentage--side note: let's do the course grade by
# percentage too so I don't have to worry about inaccurate conversions--and put that number in the same row, at the
# end, in a new column called 'Test Grade.'

# Things to look up for this:
#     ~ Comparing rows. (Multiple rows to a singular row, really, but worse comes to worse, I can probably use a
#       a for loop of some kind.)
#     ~ Creating new columns.

In [9]:
df

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22,1.0,Post,A,D,54.83,D,C,B,C,...,C,A,C,A,C,A,B,A,B,A
3,50,1.0,Pre,A,F,12.41,A,NaN,A,NaN,...,NaN,A,B,A,NaN,C,NaN,NaN,NaN,NaN
4,82,1.0,Pre,A,B+,84.94,C,C,A,C,...,D,NaN,B,A,D,C,A,E,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,37,2.0,Post,B,A,97.72,A,D,D,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN
145,42,2.0,Post,B,B+,87.81,D,NaN,A,NaN,...,NaN,E,C,NaN,B,C,A,NaN,NaN,A
146,42,2.0,Pre,B,B+,87.81,C,C,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,79,2.0,Pre,B,B+,86.68,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,79,2.0,Post,B,B+,86.68,B,E,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df['TestScore'] = 0

df

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,TestScore
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,C,B,D,C,C,D,B,A,D,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,22,1.0,Post,A,D,54.83,D,C,B,C,...,A,C,A,C,A,B,A,B,A,0
3,50,1.0,Pre,A,F,12.41,A,NaN,A,NaN,...,A,B,A,NaN,C,NaN,NaN,NaN,NaN,0
4,82,1.0,Pre,A,B+,84.94,C,C,A,C,...,NaN,B,A,D,C,A,E,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,37,2.0,Post,B,A,97.72,A,D,D,D,...,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,0
145,42,2.0,Post,B,B+,87.81,D,NaN,A,NaN,...,E,C,NaN,B,C,A,NaN,NaN,A,0
146,42,2.0,Pre,B,B+,87.81,C,C,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
147,79,2.0,Pre,B,B+,86.68,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
148,79,2.0,Post,B,B+,86.68,B,E,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [42]:
def find_test_score(row):
    key = df.loc[0, "Q1":"Q27"]
    points = 0
    count = 0
    #TODO: Compare test answers with key and get test score
    for numCols in key:
        count = count + 1
        currentCol = 'Q' + str(count)
        value1 = key[currentCol]
        value2 = row[currentCol]
        if value1 == value2:
            points = points + 1   
    return (points/27)*100

count = 0
rowNum = 2
while count < 147:
    count = count + 1
    tempRow = df.loc[rowNum, "Q1":"Q27"]
    score = find_test_score(tempRow)
    df.loc[rowNum, 'TestScore'] = score
    rowNum = rowNum + 1
    
    
df['TestScore'].astype(int)
df.round(2)

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,TestScore
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,C,B,D,C,C,D,B,A,D,0.00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,22,1.0,Post,A,D,54.83,D,C,B,C,...,A,C,A,C,A,B,A,B,A,14.81
3,50,1.0,Pre,A,F,12.41,A,NaN,A,NaN,...,A,B,A,NaN,C,NaN,NaN,NaN,NaN,25.93
4,82,1.0,Pre,A,B+,84.94,C,C,A,C,...,NaN,B,A,D,C,A,E,B,B,25.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,37,2.0,Post,B,A,97.72,A,D,D,D,...,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,18.52
145,42,2.0,Post,B,B+,87.81,D,NaN,A,NaN,...,E,C,NaN,B,C,A,NaN,NaN,A,7.41
146,42,2.0,Pre,B,B+,87.81,C,C,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.41
147,79,2.0,Pre,B,B+,86.68,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
148,79,2.0,Post,B,B+,86.68,B,E,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00

In [41]:
import matplotlib.pyplot as plt

In [51]:
AvgTestScore = df.loc[2 : 148, 'TestScore'].mean().round(2)
AvgPercentGrade = df['PercentGrade'].mean().round(2)

print("Average Test Score: " + str(AvgTestScore))
print("Average Final Grade: " + str(AvgPercentGrade))

Average Test Score: 16.98
Average Final Grade: 80.81