In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

df

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22,1.0,Post,A,D,54.83,D,C,B,C,...,C,A,C,A,C,A,B,A,B,A
3,50,1.0,Pre,A,F,12.41,A,NaN,A,NaN,...,NaN,A,B,A,NaN,C,NaN,NaN,NaN,NaN
4,82,1.0,Pre,A,B+,84.94,C,C,A,C,...,D,NaN,B,A,D,C,A,E,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,37,2.0,Post,B,A,97.72,A,D,D,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN
145,42,2.0,Post,B,B+,87.81,D,NaN,A,NaN,...,NaN,E,C,NaN,B,C,A,NaN,NaN,A
146,42,2.0,Pre,B,B+,87.81,C,C,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,79,2.0,Pre,B,B+,86.68,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,79,2.0,Post,B,B+,86.68,B,E,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Things I need to do with this data:
#   1. Determine whether or not there is a relationship between the students' score on the test and the students'
#     final course grade. (Compare final score to pre-test score for this?)
#   2. Determine whether or not there is an increase in performance between pre and post tests, both for individual
#     students and the class as a whole. (Maybe start with whole and then figure out indiviudal?)
#   3. Determine whether or not there is difference in grade between instructors and a difference in grade between
#     terms.

# Write statistical analysis about results at the end. (Maybe write analysis between code? Figure out later.)

# How to accomplish these things:
#   ~ Graphs probably

# Link to assignment page: https://github.com/sgb7/2020-spring-cs232/tree/master/assignments/3%20-%20data%20analysis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Participant Code  148 non-null    object
 1   Term              147 non-null    float64
 2   Test              147 non-null    object
 3   Instructor        147 non-null    object
 4   LetterGrade       147 non-null    object
 5   PercentGrade      147 non-null    float64
 6   Q1                115 non-null    object
 7   Q2                98 non-null     object
 8   Q3                112 non-null    object
 9   Q4                91 non-null     object
 10  Q5                123 non-null    object
 11  Q6                108 non-null    object
 12  Q7                80 non-null     object
 13  Q8                113 non-null    object
 14  Q9                87 non-null     object
 15  Q10               100 non-null    object
 16  Q11               98 non-null     object
 17  Q12               90 non-null     object
 18  Q13               83 non-null     object
 19  Q14               83 non-null     object
 20  Q15               72 non-null     object
 21  Q16               86 non-null     object
 22  Q17               74 non-null     object
 23  Q18               74 non-null     object
 24  Q19               78 non-null     object
 25  Q20               84 non-null     object
 26  Q21               79 non-null     object
 27  Q22               70 non-null     object
 28  Q23               85 non-null     object
 29  Q24               64 non-null     object
 30  Q25               79 non-null     object
 31  Q26               67 non-null     object
 32  Q27               74 non-null     object
dtypes: float64(2), object(31)
memory usage: 38.5+ KB

In [5]:
df.shape

(149, 33)

In [6]:
df = df.drop_duplicates()

df.shape

(149, 33)

In [7]:
# Wait, are the letter and percent grades I'm given the grades for the test or the grades for the whole course? Am
# I ever actually given both the course grade and the test grade plainly? I think the grades I'm given are the
# course grades, but I'll have to double check. So does that mean I have to calculate the test grade with the 
# answers and key I'm given?

# Okay yeah, I'm pretty sure now that the grade/percentage I'm given is the course grade. If I want to compare it
# to the test grade I need to process the answers somehow.

# Also, should I take both the letter grade and the percentage grade into account, since letter grades can be given
# more flexiably by teachers? Just the letter grade could probably be easier. We'll see how it goes.

In [8]:
# How to go about discarding incomplete data? Is there away to select specific cells, rather than whole rows or
# columns? Research. Either way, I think that's where I want to start with each analysis.

# Okay, so I think I need to go through and compare each student's test answers to the key, see how many answers
# match with the key, put that number over 27 and calculate percentage--side note: let's do the course grade by
# percentage too so I don't have to worry about inaccurate conversions--and put that number in the same row, at the
# end, in a new column called 'Test Grade.'

# Things to look up for this:
#     ~ Comparing rows. (Multiple rows to a singular row, really, but worse comes to worse, I can probably use a
#       a for loop of some kind.)
#     ~ Creating new columns.

# EDIT: Going a slightly different route than originally planned.

In [9]:
df

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22,1.0,Post,A,D,54.83,D,C,B,C,...,C,A,C,A,C,A,B,A,B,A
3,50,1.0,Pre,A,F,12.41,A,NaN,A,NaN,...,NaN,A,B,A,NaN,C,NaN,NaN,NaN,NaN
4,82,1.0,Pre,A,B+,84.94,C,C,A,C,...,D,NaN,B,A,D,C,A,E,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,37,2.0,Post,B,A,97.72,A,D,D,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN
145,42,2.0,Post,B,B+,87.81,D,NaN,A,NaN,...,NaN,E,C,NaN,B,C,A,NaN,NaN,A
146,42,2.0,Pre,B,B+,87.81,C,C,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,79,2.0,Pre,B,B+,86.68,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,79,2.0,Post,B,B+,86.68,B,E,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Get rid of question answer columns, so you just have all columns before PercentGrade to work with, and don't
# have to worry about all the blanks in answers. Replace question columns with a singular, new column: test grade.

In [23]:
temp = df[df.Test != 'Post']
temp2 = df[df.Test != 'Pre']

temp

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50,1.0,Pre,A,F,12.41,A,NaN,A,NaN,...,NaN,A,B,A,NaN,C,NaN,NaN,NaN,NaN
4,82,1.0,Pre,A,B+,84.94,C,C,A,C,...,D,NaN,B,A,D,C,A,E,B,B
6,22,1.0,Pre,A,D,54.83,E,D,C,B,...,D,B,D,A,E,A,B,D,D,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,7,2.0,Pre,B,A,95.33,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,59,2.0,Pre,B,D,60.14,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,37,2.0,Pre,B,A,97.72,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,42,2.0,Pre,B,B+,87.81,C,C,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,79,2.0,Pre,B,B+,86.68,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
temp2

,Participant Code,Term,Test,Instructor,LetterGrade,PercentGrade,Q1,Q2,Q3,Q4,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,KEY,NaN,NaN,NaN,NaN,NaN,E,D,D,E,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22,1.0,Post,A,D,54.83,D,C,B,C,...,C,A,C,A,C,A,B,A,B,A
5,82,1.0,Post,A,B+,84.94,B,D,D,D,...,C,E,B,C,C,A,NaN,D,D,C
8,76,1.0,Post,A,A,95.57,E,NaN,D,D,...,NaN,C,C,D,A,C,NaN,D,D,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,40,2.0,Post,B,A,93.31,E,D,D,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,7,2.0,Post,B,A,95.33,A,NaN,A,A,...,NaN,NaN,C,NaN,D,C,NaN,D,NaN,NaN
144,37,2.0,Post,B,A,97.72,A,D,D,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN
145,42,2.0,Post,B,B+,87.81,D,NaN,A,NaN,...,NaN,E,C,NaN,B,C,A,NaN,NaN,A
148,79,2.0,Post,B,B+,86.68,B,E,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#test_answers = df.loc["0":"9", "Q1":"Q26"]

pre_test_answers = temp.loc["0":"9", "Q1":"Q27"]
post_test_answers = temp2.loc["0":"9", "Q1":"Q27"]

pre_test_answers

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,E,D,D,E,A,A,A,E,B,D,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A,NaN,A,NaN,A,A,NaN,C,NaN,C,...,NaN,A,B,A,NaN,C,NaN,NaN,NaN,NaN
4,C,C,A,C,E,A,C,E,A,D,...,D,NaN,B,A,D,C,A,E,B,B
6,E,D,C,B,B,B,D,D,A,A,...,D,B,D,A,E,A,B,D,D,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,E,NaN,NaN,NaN,NaN,B,NaN,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,C,C,NaN,C,A,NaN,NaN,E,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
post_test_answers

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,E,D,D,E,A,A,A,E,B,D,...,B,C,B,D,C,C,D,B,A,D
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D,C,B,C,B,A,C,B,C,A,...,C,A,C,A,C,A,B,A,B,A
5,B,D,D,D,A,A,B,D,B,E,...,C,E,B,C,C,A,NaN,D,D,C
8,E,NaN,D,D,B,B,B,E,NaN,C,...,NaN,C,C,D,A,C,NaN,D,D,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,E,D,D,E,E,A,A,C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,A,NaN,A,A,E,B,A,NaN,NaN,D,...,NaN,NaN,C,NaN,D,C,NaN,D,NaN,NaN
144,A,D,D,D,C,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN
145,D,NaN,A,NaN,D,A,NaN,C,NaN,C,...,NaN,E,C,NaN,B,C,A,NaN,NaN,A
148,B,E,B,NaN,E,B,NaN,C,A,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Alright, so I have my test data seperated. Now I need to figure out how to extract the final test score.
# Need to compare lower rows with top row, add up points accordingly, then calculate the final score and save that
# value somehow.